@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{ 
    background-color: #000;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

#neon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
    font-size: 6em;
    text-shadow: 0 0 20px #ff005b;
}

#neon1:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter:blur(15px);
}

#neon1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        background: #000;
    }
    50% {
        background: #fe3a80;
    }
    100% {
        background: #000;

    }
}
